
textarea {
  width: 90%;
  padding: 12px;
  border:none;
  margin: 20px;
}

#EditWWW {
  width: 90%;
  padding: 12px;
  border:none;
  margin: 20px;
}


/*SubmitPost*/
.main2 {
/*  background-color: #2e8b30;
  */background-color: #e3f1d4;
  padding:10px;
  border-radius: 8px;
/*  color:#f5fbf2;
*/
  color:#292929;  
  font-weight:normal;
  margin-bottom:28px;
} 

.editText {
  font-size: 20px;
  color: #e3f1d4;
  text-align: center;
}

.subText {
  font-size: 20px;
/*  color: pink;*/
}

#subTitle {
  text-align: center;
}

.main2 .control-group {
  margin-bottom:20px;
}

.gray {
  color: #939393;
}

.PostBolder {
  text-shadow: 0px 1px 0px #939393;
}


#comment-info {
padding-left: 20px;
}


.headermine {
	list-style: none;
}

#myTitle a {
	text-decoration: none;
	color: #101010;
  font-size:52px;
  font-weight: thick;
  font-style: bold;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;

}
/*#101010*/
#myTitle {
	text-align: center;
/*	font-family: Monaco, Consolas, "Lucida Console", monospace;
*/
}

.sisters_reviewing {
	text-decoration: none;
	color: #226423;
}

.sisters_reviewing:hover {
	color: #2e8b30;
	text-decoration:none;
}



.vertical {
	list-style: none;

}
/* *   * * * * * */

.horizontal {
	list-style: none;
	display:inline-block;
}
