<template name="postSubmit">
<body id="submitpostpage">
  <form class="main2">
    <div class="control-group">
        <label class="control-label" for="doctor"><h4 class="subText" id="subTitle">Tell us: What Worked Well?</h4></label>
        <div class="controls">
            <label for="WWW"><p class="subText">When things work out in life, don't let them slip away. Tell us what you're grateful for today! </p></label>
            <textarea name="WWW">&nbsp;&nbsp;&nbsp;&nbsp;#whatworkedwell</textarea>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-default pull-right"/>
        </div>
    </div>
  </form>
</body>
</template>