<template name="postEdit">
	<form class="main">
		


	    <div class="control-group">
	        <label class="control-label" for="WWW"><h4 class="editText" id="editTitle"><strong>Edit:</strong> What Worked Well?</h4></label>
	        <div class="controls">
	            <label for="WWW"><p class="editText">When things work out in life, don't let them slip away. Tell us what you're grateful for today! </p></label>
	            <input name="WWW" type="text" value="{{WWW}}" id="EditWWW"></input>
	    </div>

	<ul class="horizontal pull-right">
		<li class="pull-left">
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-danger delete pull-left" href="#">Delete Post</a>
			</div>
		</div>
	</li>
	<li class="pull-right">
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-default submit pull-right"/>
			</div>
		</div>
	</li>
	</ul>

	</form>
</template>


