<template name="postSubmit">
<body id="submitpostpage">
  <form class="main">
    
    <div class="control-group">
        <label class="control-label" for="doctor">Doctor's Name</label>
        <div class="controls">
            <label for="WWW"></label>
            <textarea name="WWW"></textarea>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</body>
</template>
