<template name="about">
<body id="submitpostpage">
  <form class="main">

<ul class="vertical">
	<li>
		<h2> EndoDoctors: Creating transparency in the medical world for Endometriosis sufferers.
		</h2>
	</li>
	<br>
	<li>
		<p> Endometriosis is a disease which affects an average of 10-20% of girls and women. Despite its prevalence, however, many doctors fail to recognize symptoms, resulting in an average diagnostic gap of 9 years<sup>1</sup>. This site is specifically aimed at evaluating doctors' knowledge of Endometriosis, as Endometriosis sufferers' experiences with doctors are unique in that many doctors' knowledge of the disease is nonexistent, outdated, or incomplete.
		</p>

		<p> Of course, there are many wonderful doctors that deserve recognition for their work, knowledge, and compassion. EndoDoctors--by helping patients choose their doctors based on their doctors' relationships with former Endometriosis patients--will help promote greater transparency. In doing so, we hope to prevent needless surgeries, denied care, and to connect these patients with the doctors they deserve.
		</p>

		<p> EndoDoctors was born out of Endometriosis sufferers' horror stories with doctors who mocked the patients who desperately needed their care. If you suffer from Endometriosis or have attended doctors appointments with a loved one who does, please consider writing a review to help strengthen our community. 
		</p>
		<p>
		Thanks for your support! Please contact emmaf9@gmail.com with questions or feedback.
		</p>
	</li>
</ul>
</form>
<br>
<form class="main">
		<h4 class="listTitle">Common Symptoms of Endometriosis:</h4>
		<div class="centeredLists">
		<ul>
			<li>Crippling menstrual pain
			</li>
			<li>Chronically heavy or long periods
			</li>
			<li>Pain during or after sex
			</li>
			<li>Painful pelvic exams
			</li>
			<li>Painful bowel movements
			</li>
		</ul>
</div>	
</form>
<form class="main">
		<h4 class="listTitle">Quick Facts and Common Misconceptions:</h4>
		<div class="centeredLists">
		<ul>
			<li>An average of 4 doctors and 9 years pass before receiving a diagnosis or referral.<sup>1</sup>
			</li>
			<li>61% of doctors and 69% of gynecologists tell patients their pain is normal.<sup>1</sup>
			</li>			
			<li>Pregnancy does not cure Endometriosis.
			</li>
			<li>Hysterectomies do not cure Endometriosis.
			</li>
			<li>Period pain resulting in absences from class or work and vomitting is not normal.
			</li>
		</ul>
	</div>
</form>
<br>
<form class="main">
		<p> For those interested in supporting Endo Warriors and promoting awareness, the first annual Million Woman March for Endometriosis will occur on March 13, 2014 in all nations' capitals. All are encouraged to attend. <a href="http://www.millionwomenmarch2014.org/" class="sisters_reviewing">More information about the March can be found here.</a>
		</p>
<br>
		<p class="reference"><sup>1</sup>Ballweg, Mary L. "Impact of Endometriosis on Women's Health: Comparative Historical Data Show that the Earlier the Onset, the More Severe the Disease." <em> Best Practice & Research Clinical Obsetetrics & Gynaecology </em> 18.2 (2004).
		</p>

  </form>
</body>
</template>