<template name="about">
<body id="submitpostpage">
  <form class="main">
<div class="post">
<ul class="vertical" id="about">
	<li>
		<h2> PRACTICE DAILY GRATITUDE
		</h2>
	</li>
	<br>
	<li>
		<p> 
			What Worked Well is a new way to appreciate what works in your daily life. It is based on the groundbreaking research of Martin Seligman, PhD which shows that small acts of gratitude can radically improve health.
		</p>
		<p>
			This method is a breakthrough because now you can practice daily gratitude without relying on willpower or motivation.
		</p>
		<p>
			Join me from anywhere in the world. After you get started, it takes 3 minutes each day (at your convenience) for 5 days (Mon-Fri). Step by step, I make it easy for you to practice “what worked wells.”
		</p>
		<p>
			<a href="http://whatworkedwell.com/join-me/" class="sisters_reviewing">Join me here!</a>
		</p>
		<p>
			The current version is semi-automated. That means you’ll get some message from me on a pre-set schedule. At other times, you’ll get messages I’ve written just for you. (Why automate? Because I had to keep up with demand.) The results for this new version have been really good.
		</p>
		<br>
		<p>
			To learn more about attitude and learning, follow me on Twitter @robinpzander
		</p>
		<p>
			-Robin Zander
		</p>

  </form>
</body>
</template>